<nav aria-label="...">
  <ul class="pagination">
      {% if answers.has_previous %}
                <a class="page-link" href = ?page=1">first</a>
                <li class="page-item">
                    <a class="page-link" href="?page={{ answers.previous_page_number }}">{{ answers.previous_page_number }}</a>
                </li>
            {% else %}
          <li class="page-item disabled">
                <a class="page-link" href = ?page=1">first</a>
          </li>
      {% endif %}
    <li class="page-item active" aria-current="page">
      <a class="page-link">{{ answers.number }}</a>
    </li>
      {% if answers.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ answers.next_page_number }}">{{ answers.next_page_number }}</a>
                </li>
                <a class="page-link" href = "?page={{ answers.paginator.num_pages }}">last</a>
            {% else %}
          <li class="page-item disabled">
                <a class="page-link" href = "?page={{ answers.paginator.num_pages }}">last</a>
          </li>
      {% endif %}
  </ul>
</nav>
