{% load static %}
    <div class="row container-fluid question">
            <div class="row">
                  <div class="col-3">
                      <img src="{{ answer.author.avatar.url }}" class="avatar">
                  </div>
                  <div class="col-9">
                    <h3>{{ answer.title }}</h3>
                      {{ answer.text }}
                  </div>
            </div>
            <div class="row">
                    <div class="col">
                            <b class="likes_counter">{{ answer.rating }}</b>
                            <img class ="estimate" src="{% static "img/like button (off).png" %}" alt="">
                    </div>
                    <div class="col">
                            <input type="checkbox">
                            Correct!
                    </div>
            </div>
    </div>
