{% load static %}

<div class="row container-fluid question">
          <div class="row">
                <div class="col-3">
                        <img class = "avatar" src="{% static "img/Avatar №1.jpg" %}" alt="">
                </div>
                <div class="col-9">

                <!--<h3><a href ="{perc url "question" question.numberperc}"> {{ question.title }}</a></h3>--> <!-- How to destroy Thanos? -->
                <h3><a href ="{% url "question" number=question.id %}"> {{ question.title }}</a></h3> <!-- How to destroy Thanos? -->
                    {{ question.text }}
                </div>
          </div>
          <div class="row">
                  <div class="col">
                          <b class="likes_counter">{{ question.rating }}</b>
                          <img class ="estimate" src="{% static "img/like button (off).png" %}" alt="">
                          <img class ="estimate" src="{% static "img/dislike button (off).png" %}" alt="">
                  </div>
                  <div class="col" href = {% url 'question' number=question.id %}>answers({{ question.answers.count }}) </div>
                  <div class="col">
                          Tags:
                            {% for tag in question.tags.all %}
                                <a href="{% url "tag" tag=tag %}">{{ tag }}</a>
<!--                                class="black-jeck"-->
                            {% endfor %}
<!--                          <a href ="{% url "tag" tag="superhero" %}">superhero</a>-->
                          <!--<a href ="{% url "tag" tag="Thanos" %}">Thanos</a>-->
                  </div>
          </div>
</div>
