main > .container {
    padding: 60px 15px 0;
}
.title{
        margin: 23px 0 23px 0;
        font-size: 30px;
}
.question{
    margin: 30px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}
.avatar{
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    border-radius: 20%;
}
.username{
        color: silver;
        margin-bottom: 10px;
        font-size: 20px;
}
.settings_log_out{
        color:silver;
        font-size: 20px;
}
.questions{
        margin-top: 5%;
}
.estimate{
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 4px;
    }
.likes_counter{
        font-size: 20px;
}
.pages{
        border: 2px solid gray;
        border-radius: 5px;
}
.Popular_tags{
        padding-left: 5%;
}
.red_tag{
        color: tomato;
}
.green_tag{
        color: green;
        font-size: 30px;
}
.orange_tag{
        color: orange;
        font-size: 25px;
}
.member_list{
        padding-bottom: 10px;
}
.new_question{
        margin-bottom: 30px;
}
.active_question{
        margin: 30px;
        padding: 10px;
    }
.active_question_avatar{
        width:100px;
        height:100px;
}
.horizontal_line{
        margin-top:5%
}
.horizontal_line_my_answer{
        margin:3% 0% 3% 4%;

}
.answer_button{
        margin-left:4%;
}
.input_down{
        margin: 10px 20px 15px 0;
}
.wrong{
        color:tomato;
        margin:-20px 0 10px 0;
}
.create_new_account{
        margin:15px 0 0 -10px;
}