{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
        <div class="row">
                <h2 class="new_question">New question</h2>
        </div>
        <form class="ask_form" id="ask" method="POST" action="/ask/">
        {% for error in error_message %}
        <p class="error_log_message">{{ error }}</p>
    {% endfor %}
      {% csrf_token %}
    {% bootstrap_form form %}
      {% buttons %}
      <input required type="submit" class="btn btn-outline-secondary input_form" value="ASK!">
          {% endbuttons %}
        </form>
{% endblock content %}
{% block linkjs %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{% static "js/ask.js" %}"></script>
{% endblock linkjs %}