{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block link %}
<link href="{% static "css/my.css" %}" rel="stylesheet">
{% endblock link %}

{% block content %}
        <div class="row">
                <h2 class="new_question">Log in</h2>
        </div>
        {% if error_message %}<p class="error_log_message">{{ error_message }}</p> {% endif %}
        <form class="login_form" method="POST" action="/login/?next={{ redirect_to }}" name="form" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <input required type="submit"  id="hidden" value="Log in">
            {% endbuttons %}
            <p class="form_log"><a href="#1">Create new account</a></p>
        </form>
{% endblock content %}