{% extends "incl/base.html" %}
{% load static %}
{% block content %}

        <div class="row container-fluid active_question">
          {% include "incl/single_question.html" %}
          <hr class="horizontal_line" size="8">
        </div>


          {% for answer in answers %}
            {% include "incl/single_answer.html" %}
          {% endfor %}
          {% include "incl/pagination.html" %}

        <div class="row">
                <hr class="horizontal_line_my_answer" size="8">
        </div>
        <div class="row">
                <textarea name="" id="" cols="30" rows="5" class="col new_question horizontal_line_my_answer" placeholder="Enter your answer here." maxlength="500"></textarea>
        </div>
        <div class="row">
                <button class="btn btn-outline-success col-1 answer_button" type="submit">Answer</button>
        </div>




{% endblock content %}
