{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block link %}
    <link href="{% static "css/my.css" %}" rel="stylesheet">
{% endblock link %}

{% block content %}
            <div class="col container-fluid active_question">
          {% include "incl/single_question.html" %}
          <hr class="horizontal_line" size="8">
          <hr id="hr">
        </div>

{% for answer in answers %}
    {% include "incl/single_answer.html" %}
{% endfor %}
    {% if user.is_authenticated %}

  <form method="POST" action="{{ request.path }}" name="form" novalidate>
            {% csrf_token %}

    {% bootstrap_form form %}

      {% buttons %}
    <button required type="submit" class="btn btn-secondary btn_answer">Answer</button>
      {% endbuttons %}
  </form>
{% endif %}
{% endblock content %}
